footer {
    .footer-container {
        .container-xl {
            padding: 0px;   
        }
        .content {
            background-color: $charcoal;
            color: $white;
			padding-top: $p-top * .8;
			padding-bottom: $p-bottom * .75;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, .1);
			p {

			}
			ul {
				list-style: none;
				margin: 0px;
				padding: 0px 0px 0px 0px;
				li {
					a {
						&:hover {
							
						}
					}
				}
			}
            .address {
				.branding {
					margin-bottom: 25px;
					img {
						height: 45px;
						width: auto;
					}
					@include media-breakpoint-down(sm) {
						display: inline-block;
						vertical-align: top;
						width: 48%;
					}
				}
				.address-container {
					@include media-breakpoint-down(sm) {
						display: inline-block;
						vertical-align: top;
						width: 50%;
					}
					p {
						margin-bottom: 0px;
						line-height: 1.3;
						font-size: 14px;
						&.phone {
							a {
								font-weight: $f-bold;
							}
						}
						&.phone,
						&.email {
							margin-top: 10px;
							a {
								color: $white;
								&:hover {
									text-decoration: underline;
								}
							}
						}
						&.email {
							margin-top: 0px;
						}
					}
				}
            }
            .social {
				margin-top: 25px;
				ul {
					list-style: none;
					margin: 0px;
					padding: 0px 0px 0px 0px;
					li {
						display: inline-block;
						margin-right: 8px;
						a {
							svg {
								fill: $white;
							}
							&:hover {
								svg {
									fill: $cyan;
								}
							}
						}
					}
				}
            }
			.navigation {
				font-size: 0px;
				text-align: right;
				@include media-breakpoint-down(sm) {
					text-align: left;
				}
				h2 {
					font-family: $f-nav;
					font-weight: $f-bold;
					text-transform: uppercase;
					font-size: 16px;
					letter-spacing: 0.05em;
					color: $c-secondary;
					margin-top: 6px;
					margin-bottom: 14px;
					text-align: left;
					@include media-breakpoint-down(md) {
						font-size: 15px;
					}
				}
				ul {
					list-style: none;
					margin: 0px;
					text-align: left;
					li {
						display: block;
						font-size: 15px;
						font-weight: $f-regular;
						text-transform: none;
						padding: 0px;
						line-height: 1.3;
						margin: 0px 0px 9px 0px;
						@include media-breakpoint-down(md) {
							font-size: 14px;
						}
						a {
							color: $white;
							padding: 0px;
							&:hover {
								text-decoration: underline;
							}
						}
						&.phone {
							a {
								font-weight: $f-bold;
								color: $white;
								&:hover {
									text-decoration: underline;
								}
							}
						}
					}
				}
				.nav-container {
					width: 100%;
					text-align: right;
					ul {
						text-align: right;
						list-style: none;
						margin: 0px;
						padding: 0px;
						@include media-breakpoint-down(md) {
							margin: 70px 0px 50px 0px;
						}
						@include media-breakpoint-down(sm) {
							margin: 0px 0px 50px 0px;
							text-align: left;
						}
						li {
							display: inline-block;
							font-family: $f-nav;
							text-transform: uppercase;
							font-size: 13px;
							letter-spacing: 0.1em;
							margin: 0px 15px;
							&:last-child {
								margin-right: 0px;
							}
							&:first-child {
								margin-left: 0px;
							}
							&.current {
								a {
									border-bottom: 1px solid $white;
								}
							}
							a {
								color: $white;
								padding-bottom: 3px;
								&:hover {
									color: $white;
									text-decoration: none;
									border-bottom: 1px solid $white;
								}
							}
						}
					}
				}
			}
			.copyright {
				margin-top: 20px;
				@include media-breakpoint-up(md) {
					position: absolute;
					bottom: 0px;
					right: 15px;
				}
				.copyright-container {
					@include media-breakpoint-down(xs) {
						margin-top: 30px;
					}
				}
				p {
					color: $grey;
					font-size: 12px;
					margin-bottom: 8px;
					&:last-of-type {
						margin-bottom: 0px;
					}
					a {
						color: #4a85af;
						text-decoration: underline;
						&:hover {
							color: $white;
						}
					}
				}
			}
        }
    }
}