html {
    body {
        font-weight: normal;
        background-color: #e4e5e5;
        color: $black;
        .vert-center {
            align-items: flex-start !important;
        }
        .content {
            box-shadow: 0px 0px 8px rgba(0, 0, 0, .1);
            background-color: $c-bkgnd-white;
            /* min-height: 500px; */
        }
		&.dev-env {
			&:before {
				color: $white !important;
			}
		}
		pre {
        	color: inherit;
		}
        .block {
            &.light,
			.light {
                h1 {
                    color: $c-primary;
                    a {
                        color: $c-primary;
                        &:hover {
                            color: $c-secondary;
                        }
                    }
                }
                h2 {
                    color: $c-secondary;
                    a {
                        color: $c-secondary;
                        &:hover {
                            color: $c-primary;
                        }
                    }
                }
                h3 {
                    color: $c-secondary;
                    a {
                        color: $c-secondary;
                        &:hover {
                            color: $c-primary;
                        }
                    }
                }
                h4 {
                    color: $c-primary;
                }
                h5 {
                    color: $c-primary;
                }
                h6 {
                    color: $c-primary;
                }
                p {
                    color: $c-secondary;
                }
                a {
                    color: $c-primary;
                    &:hover {
                        color: $c-accent;
                    }
                    &.button {
                        color: $white;
                        &.primary {
                            background-color: $c-primary;
                            color: $white;
                            &:hover {
                                color: $white;
                                background-color: $c-accent;
                            }
                        }
                        &.secondary {
                            background-color: $c-secondary;
                            color: $white;
                            &:hover {
                                color: $white;
                                background-color: $c-accent;
                            }
                        }
                        &.tertiary {
                            background-color: $c-tertiary;
                            color: $white;
                            &:hover {
                                color: $white;
                                background-color: $c-accent;
                            }
                        }
                        &.accent {
                            background-color: $c-accent;
                            color: $white;
                            &:hover {
                                color: $white;
                                background-color: $c-secondary;
                            }
                        }
                        &.outline {
                            border: 1px solid $white;
                            &:hover {
                                color: $white;
                                border: 1px solid $c-accent;
                                background-color: $c-accent;
                            }
                        }
                    }
                }
                form {
                    button[type=submit] {
                        background-color: $c-primary !important;
                        color: $white !important;
                        &:hover {
                            background-color: $c-accent !important;
                            color: $white !important;
                        }
                    }
                }
            }
            &.dark,
			.dark {
                h1 {
                    color: $white;
                    a {
                        color: $white;
                        &:hover {
                            color: $c-accent;
                        }
                    }
                }
                h2 {
                    color: $white;
                    a {
                        color: $white;
                        &:hover {
                            color: $c-accent;
                        }
                    }
                }
                h3 {
                    color: $white;
                    a {
                        color: $white;
                        &:hover {
                            color: $c-accent;
                        }
                    }
                }
                h4 {
                    color: $white;
                }
                h5 {
                    color: $white;
                }
                h6 {
                    color: $white;
                }
                p {
                    color: $white;
                }
                a {
                    color: $white;
                    &:hover {
                        color: $c-accent;
                    }
                    &.button {
                        color: $c-secondary;
                        &.primary {
                            background-color: $c-accent;
                            color: $white;
                            &:hover {
                                color: $white;
                                background-color: $black;
                            }
                        }
                        &.secondary {
                            background-color: $c-accent;
                            color: $white;
                            &:hover {
                                color: $white;
                                background-color: $black;
                            }
                        }
                        &.tertiary {
                            background-color: $white;
                            color: $c-tertiary;
                            &:hover {
                                color: $c-accent;
                                background-color: $white;
                            }
                        }
                        &.accent {
                            background-color: $c-accent;
                            color: $white;
                            &:hover {
                                color: $white;
                                background-color: $c-secondary;
                            }
                        }
                        &.outline {
                            border: 1px solid $white;
                            &:hover {
                                color: $white;
                                border: 1px solid $c-accent;
                                background-color: $c-accent;
                            }
                        }
                    }
                }
                form {
                    button[type=submit] {
                            background-color: $c-accent !important;
                            color: $white !important;
                        &:hover {
                                color: $white !important;
                                background-color: $black !important;
                        }
                    }
                }
            }
        }
        h1 {
            font-family: $f-heads;
            font-size: 48px;
            text-transform: uppercase;
            line-height: 1.1;
            @include media-breakpoint-down(sm) {
                font-size: 36px;
            }
            sup {
                top: -1.1em;
                font-size: 40%;
            }
        }
        h2 {
            font-family: $f-heads;
            font-size: 40px;
            text-transform: uppercase;
            line-height: 1.1;
            @include media-breakpoint-down(sm) {
                font-size: 32px;
            }
            sup {
                top: -1.1em;
                font-size: 40%;
            }
        }
        h3 {
            font-family: $f-heads;
            font-size: 30px;
            text-transform: uppercase;
            line-height: 1.1;
            @include media-breakpoint-down(sm) {
                font-size: 24px;
            }
            sup {
                top: -1.1em;
                font-size: 40%;
            }
            a {
                color: $c-primary;
                &:hover {
                    color: $c-secondary;
                    text-decoration: none;
                }
            }
        }
        h4 {
            font-family: $f-heads;
            font-size: 22px;
            text-transform: uppercase;
            @include media-breakpoint-down(sm) {
                font-size: 20px;
            }
            sup {
                top: -1.1em;
                font-size: 40%;
            }
        }
        h5 {
            font-family: $f-heads;
            font-size: 18px;
            text-transform: uppercase;
            @include media-breakpoint-down(sm) {
                font-size: 18px;
            }
            sup {
                top: -1.1em;
                font-size: 40%;
            }
        }
        h6 {
            font-family: $f-heads;
            font-size: 18px;
            text-transform: uppercase;
            @include media-breakpoint-down(sm) {
                font-size: 18px;
            }
            sup {
                top: -1.1em;
                font-size: 40%;
            }
        }
        p {
            font-size: 16px;
            &:last-child {
                margin-bottom: 6px;
            }
            &.intro,
			.intro {
                font-size: 20px;
            }
			&.caption,
			.caption {
				font-size: 14px;
				font-style: italic;
			}
			&.button-container {
				margin-bottom: 0px; 
			}
			+ul {
				margin-top: 8px;
			}
        }
		.block {
			&.below {
				p {
					&:last-child {
						margin-bottom: 18px !important;
					}
				}
			}
		}
		ul {
			margin-bottom: 30px;
			li {
				page-break-inside: avoid;
				break-inside: avoid-column;
				ul {
					margin-top: 3px;
					margin-bottom: 6px;
				}
			}
		}
        h1 + p,
        h2 + p,
        h3 + p,
        h4 + p,
        h5 + p,
        h6 + p {
            margin-top: 18px;
        }
		p + h1,
		p + h2,
		p + h3,
		p + h4,
		p + h5, 
		p + h6 {
			margin-top: 36px;
		}
        a {
            &[href^="tel:"],
            &[href^="mailto:"] {
                white-space: nowrap;
            }
            &:hover {
                text-decoration: underline;
            }
            &.button {
                display: inline-block;
                text-decoration: none;
                margin: 12px 8px 0px 0px;
                color: $white;
				line-height: 1.1;
				&:only-of-type {
					margin: 12px 0px 0px 0px;
				}
				&:last-of-type {
					margin: 12px 0px 0px 0px;
				}
                &:hover {
                    text-decoration: none;
                }
                &.small {
                    font-size: 14px;
                    padding: 5px 14px;
                    border-radius: 20px;
                }
                &.medium {
                    font-size: 16px;
                    padding: 8px 20px;
                    border-radius: 20px;
                }
                &.primary {
                    background-color: $c-primary;
                    color: $white;
                    &:hover {
                        color: $white;
                        background-color: $c-accent;
                    }
                }
                &.secondary {
                    background-color: $c-secondary;
                    color: $white;
                    &:hover {
                        color: $white;
                        background-color: $c-accent;
                    }
                }
                &.tertiary {
                    background-color: $c-tertiary;
                    color: $white;
                    &:hover {
                        color: $white;
                        background-color: $c-accent;
                    }
                }
                &.accent {
                    background-color: $c-accent;
                    color: $white;
                    &:hover {
                        color: $white;
                        background-color: $c-secondary;
                    }
                }
                &.outline {
                    border: 1px solid $white;
                    &:hover {
                        color: $white;
                        border: 1px solid $c-accent;
                        background-color: $c-accent;
                    }
                }
            }
        }
        form {
            font-family: $f-body !important;
            font-weight: normal !important;
            color: $black !important;
            button[type=submit] {
                display: inline-block !important;
                text-decoration: none !important;
                margin: 12px 4px 0px 4px !important;
                font-size: 16px !important;
                padding: 8px 20px !important;
                border-radius: 20px !important;
                &:hover {
                    text-decoration: none !important;
                }
            }
        }
    }
    
    .pop-overlay {
        background-color: rgba(0, 0, 0, .92);
        .pop-modal {
            background-color: $white;
            padding: 60px 50px;
            min-height: 65vh;
            max-height: 90vh;
            margin-top: 6vh;
            margin-bottom: 6vh;
            width: 80vw;
            max-width: 1140px;
            .pop-close {
                top: 20px;
                right: 20px;
                img {
                    height: 32px;
                    width: 32px;
                }
            }
        }
    }
    
}