.post {
	margin-bottom: 25px;
	.post-container {
		position: relative;
		padding: 0px;
		height: 100%;
		padding-bottom: 40px;
		background-color: white;
		.image-container {
			position: relative;
			width: 100%;
			height: 150px;
			@include media-breakpoint-down(sm) {
				height: 37vw;
			}
			@include media-breakpoint-down(xs) {
				height: 40vw;
			}
			.image {
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				@include media-breakpoint-down(sm) {
					height: 37vw;
					border-bottom: 1px solid $grey;
				}
				@include media-breakpoint-down(xs) {
					height: 40vw;
				}
			}
		}
		.text-container {
			padding: 20px 15px;
			h3, h4 {
				margin-top: 0px;
				a {
					color: $c-primary;
					&:hover {
						color: $c-secondary;
						text-decoration: none;
					}
				}
				+p.date {
					margin-top: -5px;
					margin-bottom: 15px;
				}
			}
			p.read-more {
				position: absolute;
				bottom: 0px;
				left: 15px;
				margin-top: 0px;
				margin-bottom: 20px;
				a.button.tertiary {
					background-color: $cyan;
					&:hover {
						background-color: $blue;
					}
				}
			}
			p.type {
				font-weight: $f-bold;
				color: $c-accent;
				margin-bottom: 3px;
			}
			p.date {
				margin-bottom: 4px;
				font-size: 13px;
				font-style: italic;
				color: $grey;
			}
		}
	}
}