.acf-field[data-name="content_blocks"],
.spr-field[data-name="content_blocks"] {
	.layout[data-layout="block_tabs"],
	.spr-layout[data-layout="block_tabs"] {
		.acf-fc-layout-handle,
		.spr-fc-layout-handle {
			.icon {
				&:before {
					// background-image: url("partials/core/mild/block_accordion/icon_accordion.png") !important;
				}
			}
		}
	}
}